!!!
html
  head
    title= 'The Rock - Ames, IA'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/holder.js')
  body
    #wrap
      .navbar.navbar-default.navbar-inverse
        .container
          .navbar-header
            a(data-toggle='collapse',data-target='.navbar-collapse').btn.navbar-toggle
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/').navbar-brand The Rock
          .navbar-collapse.collapse
            ul.nav.navbar-nav
              - var obj = { 'index':'Home', 'about':'About', 'connect':'Connect', 'blog':'Blog' }
                - each val, key in obj
                  - if (id == key)
                    li.active
                      a(href='/#{key}') #{val}
                  - else
                    li
                      a(href='/#{key}') #{val}
      #myCarousel.carousel.slide
        ol.carousel-indicators
          li(data-target='#myCarousel',data-slide-to='0').active
          li(data-target='#myCarousel',data-slide-to='1')
          li(data-target='#myCarousel',data-slide-to='2')
        .carousel-inner
          .item.active
            img(src="img/zekes.jpg")
            .container
              .carousel-caption
                h1 Friday Night Rock
                p 
                  | Join us for our monthly large group gatherings, the second Friday of every month.
                  | Next meeting: Friday, September 13th, 7:30pm at Zeke's.
                a(href='#').btn.btn-large.btn-primary More Info
          .item
            img(src="img/tomshort.jpg")
            .container
              .carousel-caption
                h1 Tom Short on Campus
                p 
                  | Tom Short is on campus September 3rd-6th.
                  | Catch him in front of the Hub from 10am-4pm,
                  | or at Zeke's at 7:30pm Tuesday-Thursday.
                a(href='http://www.tomthepreacher.com').btn.btn-large.btn-primary More about Tom
          .item
            img(src="img/focus.jpg")
            .container
              .carousel-caption
                h1 Fall Conference
                p
                  | The Fall Conference is coming up on September 20th-22nd.
                  | Sign up today!
                a(href='http://www.fallconferencedm.com').btn.btn-large.btn-primary Registration
        a(data-slide='prev',href='#myCarousel').left.carousel-control
          span.icon-prev
        a(data-slide='next',href='#myCarousel').right.carousel-control
          span.icon-next
      .container.marketing
        .row
          .col-lg-4
            include includes/calendar
          .col-lg-4
            h3 Recent Tweets:
            include includes/twitter
          .col-lg-4
            h3 Recent Blog Entries:
            p
             - var posts = getPosts(0,3)
             - var page = 1
             - each post in posts
               p
                 a(href=post.url)
                   = post.title 
                 span.date     #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
    #footer
      .container
        include includes/about

