doctype html
html
  head
    title= 'The Rock - Ames, IA'
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/img/logosm.png')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.min.js')
    script(src="//maps.googleapis.com/maps/api/js?key=AIzaSyDQRhA2ClBtshW6KqyoU423e0tWfO4NrIo&sensor=false")
    script.
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(-34.397, 150.644),
          zoom: 8,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
  body
    #wrap
      .navbar.navbar-default.navbar-inverse
        .container
          .navbar-header
            a(data-toggle='collapse',data-target='.navbar-collapse').btn.navbar-toggle
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a(href='/').navbar-brand
              img(src='/img/logosm.png')
              |   The Rock

          .navbar-collapse.collapse
            ul.nav.navbar-nav
              - var obj = { 'index':'Home', 'about':'About', 'connect':'Connect', 'blog':'Blog' }
                - each val, key in obj
                  - if (id == key)
                    li.active
                      a(href='/#{key}') #{val}
                  - else            
                    li
                      a(href='/#{key}') #{val}
      .container
        .row
          .col-md-8
            block content
          .col-md-4
            block sidebar
    #footer
      .container
        include includes/about

